body {
    font-family: "Times New Roman";
}
#vertical {
    height: 25px;
    width: 3px;
    border-left: 2px solid black;
    margin-right: 15px;
    margin-left: 15px;
}
#link {
    background-color: #0a53be;
    color: white;
    text-align: center;
}
#footer {
    background-color: #6c757d;
    color: white;
    height: 50px;
    text-align: center;
}
.dropdown-menu {
    width: 1200px;
}